<h1 class="title">UserStory.Me</h1>
<br >
<br >
<p class="subtitle">the simplest way to <span class="capitalize">create, store, </span>and<span class="capitalize"> share</span> user stories with your team.</p>
<hr />
<div class="home-row">
  <div class="row">
    <div class="span2">
      <h3 class="title">Create</h3>
      <hr />
      <p>Story Mapping helps software teams build applications more effectively. Start creating now!</p>
    </div>
    <div class="span2">
      <h3 class="title">Store</h3>
      <hr />
      <p>Store all of your story maps and user stories so that you can easily track your progress.</p>
    </div>
    <div class="span2">
      <h3 class="title">Share</h3>
      <hr />
      <p>UserStory.Me allows you to share your Story Maps with team members via email, twitter, or a permalink.</p>
    </div>
  </div>
</div>
<hr />
<p class="start-button"><%= link_to "Get Started!", '/login', class: "btn btn-primary btn-large" %></p>