
<div class="row">
  <hr/>
  <div class="span4">
    <h2 class="title">First Time Here?</h2>
    <br>
    <br>
    <p class="getstarted"><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-large" %></p>
  </div>
  <div class="span4">
    <h2 class="title">Already a User?</h2>
    <br>
    <br>
    <p class="getstarted"><%= link_to "Sign In", new_user_session_path, class: "btn btn-primary btn-large" %></p>
  </div>
</div>

<hr />
<div class="twitter-signin">
  <a href="http://localhost.com/auth/twitter"><%= image_tag('twitter_signin.png', alt: 'twitter') %></a>
</div>



