
<div class="row">
  <div class="span4">
    <h2 class="title">First Time Here?</h2>
    <hr />
    <p class="getstarted"><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-large" %></p>
  </div>
  <div class="span4">
    <h2 class="title">Already a User?</h2>
    <hr />
    <p class="getstarted"><%= link_to "Sign In", new_user_session_path, class: "btn btn-primary btn-large" %></p>
  </div>
</div>



