
<% if user_signed_in? %>
 <h2 class="title">Welcome, <%= current_user.username %>!</h2>
 <br>
 <h3 class="subtitle">UserStory.Me is the simplest way to create, store, and share user stories with your team.</h3 >
 <hr />
 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. lorem ispume lorem ispumelorem ispumelorem lorem
 </p>
 <hr />
 <p class="start"><%= link_to "Create New Story Map", '/backlogs', class: "btn btn-primary btn-large" %>
<% else %>
  <h1 class="title">UserStory.Me</h1>
  <br >
  <p class="subtitle">the simplest way to create, store, and share user stories with your team.</p>
  <hr />
  <div class="home-row">
    <div class="row">
      <div class="span2">
        <h3 class="title">Create</h3>
        <hr />
        <p>Story Mapping helps software teams build applications more effectively. Start creating now!</p>
      </div>
      <div class="span2">
        <h3 class="title">Store</h3>
        <hr />
        <p>Store all of your story maps and user stories so that you can easily track your progress.</p>
      </div>
      <div class="span2">
        <h3 class="title">Share</h3>
        <hr />
        <p>UserStory.Me allows you to share your Story Maps with team members via email, twitter, or a permalink.</p>
      </div>
    </div>
  </div>
  <hr />
  <p class="start"><%= link_to "Get Started!", '/login', class: "btn btn-primary btn-large" %></p>
<% end %>
