/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.start{
	float: right;
}

.brand-two {
/*	color: #46433A;*/
	font-weight: bold;
}

.brand-three {
	font-weight: bold;
}

.title {
	text-align: center;
}

.brand {
/*	font-family: 'Permanent Marker', cursive;*/
}

.form {
	margin-left:300px;
}

.home-row {
	margin-left:150px;

}

.divider-vertical {
	color: #fff;
}

.getstarted {
	text-align: center;
}

#social {
	float:right;
/*	margin-right:120px;*/
}

#copyright {
	float:left;
/*	margin-left:120px;*/
}

.hero-unit {
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
}

