/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


/****************************** Global ***********************************/

.title {
	text-align: center;
	font-family: Pacifico;
}

.subtitle {
	text-align: center;
	font-style:italic;
}

.capitalize {
	text-transform: uppercase;
	font-weight:bold;
	color: #648E69;
}

.hero-unit {
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;

}

.divider-vertical {
	color: #fff;
}

.well {
	background:#918B85;
}
/************************* Home Page Styles *****************************/

.start-button {
	float: right;
}

.home-row {
	margin-left:150px;
}


/*************************** Navigation *********************************/

.brand {
/*	font-family: 'Permanent Marker', cursive;*/
	font-family:Pacifico;
}

.brand-two {
/*	color: #46433A;*/
	font-weight: bold;
	font-family: DymaxionScript;
}

.brand-three {
	font-weight: bold;
	font-family: DymaxionScript;
}

.identity {
	text-align: center;
}
/*************************** Signin/Signup ******************************/

.twitter-signin {
	margin-left: 150px;
	margin-top:50px;
}

.form {
	margin-left:300px;
}

.getstarted {
	text-align: center;
}

/****************************** Footer ***********************************/
#social {
	float:right;
/*	margin-right:120px;*/
}

#copyright {
	float:left;
/*	margin-left:120px;*/
}



