<footer>
   <p id="copyright">&copy; UserStory.Me 2012</p>
   <p id="social">
     <a href="www.twitter.com" target="_blank"><%= image_tag('twitter_32.png', alt: 'twitter') %></a>
     <a href="http://www.linkedin.com/" target="_blank"><%= image_tag("linkedin_32.png", :alt  => "linkedin")%></a>
     <a href="http://www.dan-lavin.tumblr.com/" target="_blank"><%= image_tag("tumblr_32.png", :alt  => "tumblr")%></a>
     <a href ="#"><%= image_tag('email_32.png', alt: 'email') %></a>
   </p>
</footer>